[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
django-widget-tweaks = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
